1/ggt.o
2/main
2/queue
2/queue.o
2/queuetest
2/uppercase.o
3/dictionary.o
3/main
4/dictionary.o
4/main
4/.vscode/settings.json
5/a.out
6/LinkedList.o
6/main
7/audio.o
7/bild.o
7/main
7/medium.o
8/main
8/LinkedList.o
8/.vscode/
9/.vscode/
